.page-container {
    width: 1440px;
    height: 1683px;
   
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 600px 600px;
    width: 1224px;
    height: 1420px;
    gap: 12px;
    margin: 0 auto;
    justify-content: center;
}

.column {
    display: grid;
    gap: 12px;
}

.left-column .grid-item:first-child img {
    width: 600px;
    height: 560px;
}

.left-column .grid-item:last-child img {
    width: 600px;
    height: 840px;
}

.right-column .grid-item:first-child img {
    width: 600px;
    height: 840px;
}

.right-column .grid-item:last-child img {
    width: 600px;
    height: 560px;
}

.grid-item img {
    display: block;

}